---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?q=%23redis%20-rt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="YwW30ok4SIOpkBv78EEEw", oauth_nonce="73607685e0ce0bd45745a7393bea33f2",
        oauth_signature="gciOVyxnGr91gGlueyc%2BiXw%2BymM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1384306425", oauth_token="2182892167-3mCoTpb0DjwzDqE26zszWjDUy4zFSqgkglcz03m",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 13 Nov 2013 01:33:45 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '174'
      X-Rate-Limit-Reset:
      - '1384306839'
      X-Transaction:
      - 0eb2712efe2d0ee5
    body:
      encoding: UTF-8
      string: '{"statuses":[{"metadata":{"result_type":"recent","iso_language_code":"en"},"created_at":"Wed
        Nov 13 01:21:14 +0000 2013","id":400433138603548672,"id_str":"400433138603548672","text":"#redis
        tweet here","source":"web","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2182892167,"id_str":"2182892167","name":"Example
        User","screen_name":"example_code","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":0,"friends_count":0,"listed_count":0,"created_at":"Fri
        Nov 08 20:28:50 +0000 2013","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":3,"lang":"en","contributors_enabled":false,"is_translator":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_1_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_1_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[{"text":"redis","indices":[0,6]}],"symbols":[],"urls":[],"user_mentions":[]},"favorited":false,"retweeted":false,"lang":"en"},{"metadata":{"result_type":"recent","iso_language_code":"en"},"created_at":"Tue
        Nov 12 22:50:56 +0000 2013","id":400395314722377728,"id_str":"400395314722377728","text":"i
        need more #redis in my life","source":"web","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2182892167,"id_str":"2182892167","name":"Example
        User","scr[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?q=%23custom%20-rt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="YwW30ok4SIOpkBv78EEEw", oauth_nonce="75613c0e490bbd0ae5890db2be5c4fc8",
        oauth_signature="z5xfi1ILeJjNc8aZYjNjwqGOICU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1384306591", oauth_token="2182892167-3mCoTpb0DjwzDqE26zszWjDUy4zFSqgkglcz03m",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 13 Nov 2013 01:36:31 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '173'
      X-Rate-Limit-Reset:
      - '1384306839'
      X-Transaction:
      - 216ea407fde19066
    body:
      encoding: UTF-8
      string: '{"statuses":[{"metadata":{"result_type":"recent","iso_language_code":"en"},"created_at":"Wed
        Nov 13 01:33:48 +0000 2013","id":400436301012692992,"id_str":"400436301012692992","text":"#theartrepreneur
        bottom half of my lay today. @coachgaines #custom #chinos. #repaired #patched\u2026
        http:\/\/t.co\/gLSvwPCfwG","source":"\u003ca href=\"http:\/\/instagram.com\"
        rel=\"nofollow\"\u003eInstagram\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":22217415,"id_str":"22217415","name":"Ibn
        Anderson","screen_name":"TheArtrepreneur","location":"iPhone: 40.085968,-75.390961","description":"My
        Past:Co-Creator of MiskeenOriginals, Meezan:artcouture,& Kamouflage.My Present:
        It''s all about Artifak\u2122 ....Art&Fashion is my passion!","url":"http:\/\/t.co\/ypj3HVbwhI","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/ypj3HVbwhI","expanded_url":"http:\/\/theartrepreneur.tumblr.com\/","display_url":"theartrepreneur.tumblr.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":242,"friends_count":455,"listed_count":6,"created_at":"Sat
        Feb 28 01:55:21 +0000 2009","favourites_count":63,"utc_offset":-18000,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":1706,"lang":"en","contributors_enabled":false,"is_translator":false,"profile_background_color":"131516","profile_background_image_url":"http:\/\/abs.[...]
