<div class='tweet-wrapper col-md-6'>
  <div class='tweet row'>
    <img class='avatar pull-left img-rounded' src='${user.avatar}'/>
    <div class='info col-md-3'>
      <a class='name' href='${user.url}'>${user.name}</a>
      <span class='handle'>${user.handle}</span>
      <time class='timeago' datetime='${timestamp}'/>
    </div>
    <div class='content col-md-7'>${content}</div>
  </div>
</div>
